<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Health Check for Readers">
    <classes>
     <class name="BaseTest.session">  
      	<methods>
      		<include name = "doLogin"></include>
      	</methods>
     </class>
	 <class name="LocationServices.Health.HealthReaderTestCases">
    	<methods>
    		<include name = "ReaderHealthValidation"/>
    	</methods>
     </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
